@{
    ViewBag.Title = "Contact";
}

<h1>Contact Us</h1>

<p>
    Thank you for your interest in iCARE! If you have any questions or feedback, please feel free to reach out to Team 12.
</p>

<h2>Project Contributors:</h2>
<ul>
    <li>Kene</li>
    <li>Isaiah</li>
    <li>Sydney</li>
    <li>Cooper</li>
</ul>

<p>
    For more information about the iCARE project or to get in touch with us, please fill out the form below.
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</p>